.alertError,
.alertSuccess {
  position: absolute!important;
  top: 20px!important;
  width: 50%!important;
  left: 50%!important;
  transform: translateX(-50%)!important;
  z-index: 3000!important;
  text-align: center!important;
  font-weight: 400!important;
  font-size: 22px!important;
}

.alertError {
  background-color: rgba(245, 168, 182, 0.9) !important;
}

.alertSuccess {
  background-color: rgba(105, 248, 184, 0.9) !important;
}
