.imgCol {
  height: 100%;
  padding: 0px;
}

.nameCol {
  font-size: 34px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bntsCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  margin: 5px;
  width: 50%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(0,0,0,0.125);
}

.row {
  height: 150px;
  width: 100%;
  margin: 5px;
}
